{% extends 'base.html' %}
{% block content %}

<img src="https://i.pinimg.com/originals/01/69/f9/0169f9ef33c0bd267828f9d0a6488da0.gif" style="width: 130rem; height: 25rem;">

<div class="uk-section uk-section-default">
    <div class="uk-container uk-container-expand">
        <div class="uk-child-width-1-4@s uk-grid-match .uk-margin-auto" uk-grid>
            {% for image_item in images %}
            <a href="{% url 'myimage' image_item.id %}">
                <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                    <img src="{{ image_item.image.url }}" class="img-responsive">
                    <div class="uk-text-center uk-card-body uk-text-large ">
                        <p style="font-family: 'Permanent Marker', cursive;">{{image_item.name}}</p>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>
</div>

{% endblock %}